tbody#contentTable
  each content in history
    tr
      td #{content.language} // Display the language
      td
        a(href=`/${content.user.username}/${content._id}`) #{content.prompt} // Link to content details
      td
        if content.learning
          span #{content.learning} // Use the learning content if it exists
        else
          span #{content.response} // Otherwise, use the response content
      td #{new Date(content.timestamp).toLocaleDateString('en-GB')} 
      td
        if content.audioExists
          audio(controls)
            source(src=`/audio/${content._id}.mp3` type="audio/mpeg")
            p Your browser does not support the audio element.
        else
          button.btn.btn-secondary(type="button", onclick=`downloadAudio(${JSON.stringify(content.response)}, '${content._id}')`) Download Audio