extends layout

block content
  h2 Content Details

  // Render language, native, and marked only if language is not null or undefined
  if content.learning
    p
      strong Language:
      | #{content.language}

    p
      strong Native:
      | #{content.native || "N/A"} // Display native or "N/A" if null

    p
      strong Marked:
      | #{content.marked || "N/A"} // Display marked or "N/A" if null

  // Render response only if language is null or undefined
  if !content.learning
    p
      strong Response:
      | #{content.response || "N/A"} // Display response or "N/A" if null

  p
    strong Theme:
    | #{content.theme ? content.theme.join(", ") : "N/A"} // Display theme as a comma-separated list or "N/A"

  p
    strong Type:
    | #{content.type ? content.type.join(", ") : "N/A"} // Display type as a comma-separated list or "N/A"

  p
    strong Learning:
    | #{content.learning || "N/A"} // Display learning or "N/A" if null

  p
    strong Date Created:
    | #{new Date(content.timestamp).toLocaleDateString('en-GB')}

  if audioExists
    p
      strong Audio:
    audio(controls)
      source(src=`/audio/${content._id}.mp3` type="audio/mpeg")
      p Your browser does not support the audio element.

  a.btn.btn-secondary(href=`/${username}`) Back to History